@{
    @model WebApplication8.Models.shipment;

    <form asp-action="RemoveShipment" asp-controller="Home" method="post">

        OrderNumber:
        @Html.TextBoxFor(o => o.orderNumber, new {@class="form-control", placeholder="Please enter Order Number"})
        <span asp-validation-for="orderNumber" class="text-danger"></span>


        <div>
            <input type="submit" class="btn btn-primary mt-3" value="Submit" />
        </div>
    </form>
}